streamlit
zhipuai
groq
openai
pandas
streamlit_extras
pyperclip
json-repair
numpy
scikit-learn
python-docx
statsmodels
openpyxl
plotly
ultralytics
opencv-python-headless
pillow
torch
torchvision
mtcnn
tensorflow
deepface
