streamlit
ultralytics
opencv-python-headless
numpy
pillow
scikit-learn
pathlib
torch
torchvision
groq
openai
mtcnn
tensorflow==2.15.0  # Using an older version that's known to be stable
keras
deepface
